
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

venv
.venv
.virt
virt
.pytest_cache
__pycache__
htmlcov
instance
.vscode
.coverage
.env
.mypy_cache