<!-- templates/python/info.html -->

{% extends "python/base.html" %}

{% block article %}
      <div class="card">
        <div class="card-header"><p class="card-header-title">Pour qui et pourquoi ?</p></div>
        <div class="card-content"><div class="content">Sorte de notebook personnel et agrégation de diverses choses que j'aimerai partager autour du Python</div></div>
      </div>
      <br />

      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
{% endblock %}