files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/flask_logs_tail.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/app/current/logs/*.log
    "/opt/elasticbeanstalk/tasks/bundlelogs.d/flask_logs_bundle.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/app/current/logs/*.log
    "/opt/elasticbeanstalk/tasks/publishlogs.d/flask_logs_publish.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/app/current/logs/*.log